<nav class="flex justify-between py-4 px-6 bg-indigo-700 mb-10"
     [ngStyle]="{
     backgroundImage: 'url(assets/navbar-bg.svg)',
     backgroundSize: '50% 100%',
     backgroundRepeat: 'no-repeat'}">
  <div class="self-center text-white font-bold text-2xl">Jourly</div>
  <img *ngIf="auth.user$ | async as user; else login;" [src]="user.photoURL"
       class="avatar rounded-full h-10 cursor-pointer"
       alt="avatar"
       (click)="auth.signOut()"/>


  <ng-template #login>
    <button class="button text-white cursor-pointer" (click)="auth.googleSignIn()">Login with Google</button>
  </ng-template>

</nav>

