<div class="fixed inset-0 flex items-center justify-center">
  <div>
    <div class="absolute inset-0 bg-black opacity-25" (click)="onClose()"></div>
  </div>
  <div class="relative">
    <div class="max-w-lg w-full bg-white rounded-lg shadow-2xl px-6 py-6">
      <h2 class="font-semibold text-gray-900 text-2xl leading-tight border-b-2 border-gray-200 pb-4">Werkdag
        verwijderen</h2>
      <p class="mt-4 text-gray-700">Weet je zeker dat je de werkdag van
        <strong>{{ workday.date  | date: 'fullDate':'GMT+2':'nl_NL' }}</strong> wil
        verwijderen?</p>
      <div class="mt-6">
        <button type="button" (click)="onAccept()"
                class="px-4 py-2 text-white font-semibold bg-red-500 hover:bg-red-600 border border-transparent rounded focus:outline-none focus:shadow-outline">
          Verwijderen
        </button>
        <button (click)="onClose()"
                class="ml-4 px-4 py-2 text-gray-800 font-semibold bg-white hover:bg-gray-100 border rounded focus:outline-none focus:shadow-outline">
          Annuleren
        </button>
      </div>
    </div>
  </div>
</div>
